In [1]:
import pandas as pd

# Création de la première table
data1 = {'annee': ['2001', '2002'], 'classe': ['a', 'b']}
table1 = pd.DataFrame(data1)

# Création de la deuxième table
data2 = {'annee': ['2001', '2003'], 'prenom': ['dd', 'pp']}
table2 = pd.DataFrame(data2)

# Fusion des deux tables sur la colonne 'annee'
table_fusion = pd.merge(table1, table2, on='annee', how='outer')

In [2]:
table_fusion

  annee classe prenom
0  2001      a     dd
1  2002      b    NaN
2  2003    NaN     pp